@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
}
.bottom-controls {
    position: absolute;
    top: 1%; /* Adjust for spacing */
    left: 30%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 6px;
    border-radius: 4px;
}

